[Unit]
Description=RowCount
Wants=time-sync.target
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/alarm/record.py
Restart=always

[Install]
WantedBy=multi-user.target
